
/* container */

.container {
  width: 100vw; height: 100vh;
  overflow: hidden;
  position: relative;
}

/* questions */

#questions {
  width: 100%; height: 90vh;
  position: absolute;
  bottom: 0; left: 0;
}

.questionGroup {
  width: 1000px; height: 500px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  position: absolute;
  top: 100px; left: 50%; transform: translateX(-50%);
}

.question {
  width: 33.33%; height: auto;
  padding-right: 30px;
}

.questionGroup h2 {
  width: 100%; height: 100px;
  font-weight: 700;
  font-size: 1.2em;
}

/* skills */

#skills {
  width: 100%; height: 90vh;
  position: absolute;
  bottom: 0; left: 0;
}

.skillsGroup {
  width: 1000px; height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  position: absolute;
  top: 100px; left: 50%; transform: translateX(-50%);
}

.skill {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.skillTitle {
  width: 100px; height: 100px;
  font-weight: 700;
  font-size: 1.1em;
}

.skillContents {
  width: 380px;
}

.skillContent {
  display: flex;
}

.skillContent .material-icons {
  font-size: .9em;
  font-weight: 700;
  padding : 5px 10px 0 0;
}

.skillContent p {
  padding-bottom: 10px;
}

.skillContent span {
  font-weight: 900;
}

/* home */

#home {
  width: 100%; height: 90vh;
  position: absolute;
  bottom: 0; left: 0;
}

.works {
  height: 90vh; width: 100%;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}

.swiper-container {
  width: calc(800px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px; left: 50%;
  margin-left: calc((800px * 3 + 20px) / -2);
}

.swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
  width: 800px; height: auto;
  text-align: center;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide-active a {
  cursor: url('../images/cursor_active.gif') 60 60, alias;
}

.swiper-slide-active h2 {
  -webkit-background-clip: text;
  background-color: #333;
}

.swiper-slide h2 {
  font-family:'Authentic Signature';
  font-size: 5rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333;
}

.swiper-slide p {
  padding-bottom: 20px;
}

.swiper-slide img {
  width: 600px; height: 399px;
  margin: 0 auto;
}

.swiper-prev,
.swiper-next {
  width: 400px; height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  opacity: 0;
}

.swiper-prev {
  left: 0;
  background-color: red;
  cursor: url('../images/cursor_prev.gif') 60 60, e-resize;
}

.swiper-next {
  right: 0;
  background-color: blue;
  cursor: url('../images/cursor_next.gif') 60 60, e-resize;
}

.works .swiper-pagination {
 bottom: 0; left: 0; right: 0;
}

.works .swiper-pagination .swiper-pagination-bullet {
 background-color: black;
 width: 12px; height: 12px;
 margin-right: 6px;
 outline: none;
}
 .works .swiper-pagination .swiper-pagination-bullet:last-child {
 margin-right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
 background-image: url("../images/promotion_slide_pager_on.png");
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}


